/* reset all padding and margins */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

/* set default box sizing */
html {
    box-sizing: border-box;
}

/* stick header and footer at top and bottom of page*/
body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

/* header/navbar flex styles */
.header, .hero {
    background-color: #1F2937;
    padding: 30px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style-type: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* hero intro and image styles */
.hero-intro {
    flex: 1 1 auto;
    max-width: 400px;
}

.hero-txt-lg {
    font-size: 54px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 10px;
}

.hero-txt-sm {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 30px;
}

.hero-button {
    font-size: 18px;
    font-weight: 900;
    color: #e5e7eb;
    text-decoration: none;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    background-color: #3882f6;
}

/* solutions section flex styles */
.solutions {
    background-color: #f9faf8;
    padding: 30px 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.solu-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.solu-items div {
    flex: 1 1 auto;
    max-width: 200px;
}

/* solutions text and image styles */
.solu-txt-lg {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 10px;
}

.solu-txt-sm {
    font-size: 14px;
    color: #5a5a5a;
    margin-bottom: 10px;
    text-align: center;
}